*{
  box-sizing: border-box;
}
body,html, #root, .App{
  height: 100%;
} 
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.digits{
  font-size: 60px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.digits #Seconds::before,
 #Seconds::after{
  content: ":";
}
.Actions{
  margin-top: 15px; 
}
.Btn{
  padding: 8px 15px;
  border: 0;
  color: white;
  font-weight: bold;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}
.Btn[disabled]{
  opacity: 0.3;
}
.Btn-Start{
  background-color: green;
}
.Btn-Pause{
  background-color: yellow;
  color: black;
}
.Btn-Reset{
  background-color: red;
}
